# Introduction to Pandas

## What is Pandas?
A powerful library for data manipulation and analysis in Python.
Built on top of NumPy, provides data structures like Series and DataFrame.

## Why use Pandas?
* Easy data cleaning and transformation.
* Efficient handling of large datasets.
* Integration with other Python libraries like Matplotlib and Seaborn for visualization.

In [3]:
print("WTF")

WTF

In [4]:
import pandas as pd
print(f"Pandas version installed: {pd.__version__}")

Pandas version installed: 2.3.3

## Key Data Structures in Pandas
* Series( 1 Dimensional )
* DataFrame( 2 Dimensional )

## Create a simple Series

In [5]:
s = pd.Series([1,2,3,4,5])

In [6]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Display the Series

In [7]:
print("Example Series:")
print(s)

Example Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

## Series with labels/index

In [8]:
ss = pd.Series([1,3,5,7,9], index=['a','b','c','d','e'])

In [9]:
ss

a    1
b    3
c    5
d    7
e    9
dtype: int64

## Create a simple DataFrame

In [10]:
data = {'City': ['Kathmandu', 'Dharan', 'Pokhara'],
        'Population_Millions': [1.4, 0.05, 0.6]
        }
df = pd.DataFrame(data)

In [11]:
df

        City  Population_Millions
0  Kathmandu                 1.40
1     Dharan                 0.05
2    Pokhara                 0.60

## Display the DataFrame

In [12]:
print("Example DataFrame:")
print(df)

Example DataFrame:
        City  Population_Millions
0  Kathmandu                 1.40
1     Dharan                 0.05
2    Pokhara                 0.60

## Reading data from csv

In [13]:
daf = pd.read_csv("data/customers-1000.csv")

In [14]:
daf

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

### First 5 rows

In [15]:
daf.head()
# Similarly : daf.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/

### Helps to describe the data

In [16]:
daf.describe()

             Index
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [17]:
daf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1000 non-null   int64
 1   Customer Id        1000 non-null   object
 2   First Name         1000 non-null   object
 3   Last Name          1000 non-null   object
 4   Company            1000 non-null   object
 5   City               1000 non-null   object
 6   Country            1000 non-null   object
 7   Phone 1            1000 non-null   object
 8   Phone 2            1000 non-null   object
 9   Email              1000 non-null   object
 10  Subscription Date  1000 non-null   object
 11  Website            1000 non-null   object
dtypes: int64(1), object(11)
memory usage: 93.9+ KB

## Data Selection

In [18]:
daf["First Name"]

0        Andrew
1         Alvin
2         Jenna
3      Fernando
4          Kara
         ...
995       Diana
996       Jerry
997      Tracie
998        Paul
999     Dominic
Name: First Name, Length: 1000, dtype: object

In [19]:
type(daf["First Name"])

pandas.core.series.Series

In [20]:
daf[["Customer Id", "First Name"]]

         Customer Id First Name
0    dE014d010c7ab0c     Andrew
1    2B54172c8b65eC3      Alvin
2    d794Dd48988d2ac      Jenna
3    3b3Aa4aCc68f3Be   Fernando
4    D60df62ad2ae41E       Kara
..               ...        ...
995  FbcCaF483aFaFAE      Diana
996  979c4D58Ae9a9cc      Jerry
997  D0DcF6a4BcefCc8     Tracie
998  90EE9CbbDa374E9       Paul
999  51732B5b2328015    Dominic

[1000 rows x 2 columns]

## 1st Data

In [21]:
daf.iloc[0]

Index                                            1
Customer Id                        dE014d010c7ab0c
First Name                                  Andrew
Last Name                                  Goodman
Company                              Stewart-Flynn
City                                   Rowlandberg
Country                                      Macao
Phone 1                          846-790-4623x4715
Phone 2                        (422)787-2331x71127
Email                marieyates@gomez-spencer.info
Subscription Date                       2021-07-26
Website                       http://www.shea.biz/
Name: 0, dtype: object

## Handling missing values

In [22]:
df2 = pd.read_csv("data/data.csv")

In [23]:
df2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

In [24]:
df2.dropna()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
5,6,8aaa5d0CE9ee311,Marissa,Gamble,Cherry and Sons,Webertown,Sudan,001-645-334-5514x0786,(751)980-3163,katieallison@leonard.com,11/17/2021,http://www.kaufman.org/
7,8,DC94CCd993D311b,Lauren,Villa,"French, Travis and Hensley",New Yolanda,Fiji,081.226.1797x647,186.540.9690x605,colehumphrey@austin-caldwell.com,8/14/2020,https://www.kerr.com/
10,11,bf104C25d0BA4E1,Nichole,Cannon,Rios and Sons,West Devon,Burundi,0647787401,139.476.1068,blandry@henson-harris.biz,4/26/2021,http://www.humphrey.org/
12,13,4fa8ffcdBbf53bB,Darryl,Archer,Kerr-Cherry,Holtfurt,Uganda,(389)437-1716,092.364.7349x593,woodalejandro@skinner-sloan.biz,4/18/2022,https://www.daniels.com/
14,15,2a0c691Ce19C6f3,Vicki,Nunez,"Leonard, Galvan and Blackburn",Barbaraborough,Haiti,(217)474-0312,(098)195-0840x79579,zgrant@sweeney.com,1/30/2022,https://reynolds.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

## We can fill the NaN value, but it's not recommended

In [25]:
# df2.fillna(0, inplace=True)

In [26]:
df2.fillna(0)
# Fills the NaN value with 0

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,0,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,0,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,0,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,0,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,0,jesus90@roberson.info,4/22/2022,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

## Rename columns

In [27]:
df2.rename(columns={"Customer Id": "Id"})

,Index,Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

In [28]:
# Original dataframe doesn't change
df2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

## To change we use inplace

In [29]:
df2.rename(columns={"Customer Id": "Id"}, inplace=True)

In [30]:
df2

,Index,Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1000 non-null   int64
 1   Id                 1000 non-null   object
 2   First Name         1000 non-null   object
 3   Last Name          998 non-null    object
 4   Company            994 non-null    object
 5   City               994 non-null    object
 6   Country            992 non-null    object
 7   Phone 1            995 non-null    object
 8   Phone 2            994 non-null    object
 9   Email              996 non-null    object
 10  Subscription Date  998 non-null    object
 11  Website            1000 non-null   object
dtypes: int64(1), object(11)
memory usage: 93.9+ KB

In [32]:
df2['Country'] = df2['Country'].astype('category')
# Not recommended we lose precision

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1000 non-null   int64
 1   Id                 1000 non-null   object
 2   First Name         1000 non-null   object
 3   Last Name          998 non-null    object
 4   Company            994 non-null    object
 5   City               994 non-null    object
 6   Country            992 non-null    category
 7   Phone 1            995 non-null    object
 8   Phone 2            994 non-null    object
 9   Email              996 non-null    object
 10  Subscription Date  998 non-null    object
 11  Website            1000 non-null   object
dtypes: category(1), int64(1), object(10)
memory usage: 98.0+ KB

In [34]:
df2["Id"][0]

'dE014d010c7ab0c'

In [35]:
len(df2)

1000

In [36]:
df2["zeros"] = [0 for i in range(len(df2))]

In [37]:
df2

,Index,Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,zeros
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/,0
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/,0
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/,0
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/,0
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/,0
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/,0
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/,0
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/,0
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/,0

In [38]:
def fx(a):
    return a + 1
df2["zeros+1"] = df2["zeros"] .apply(fx)

In [39]:
df2

,Index,Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,zeros,zeros+1
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/,0,1
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/,0,1
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/,0,1
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/,0,1
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/,0,1
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/,0,1
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/,0,1
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/,0,1
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/,0,1

## To save the data as excel

In [40]:
df2.to_csv("data/data2.csv", index=False)

In [41]:
df3 = pd.read_csv("data/data2.csv")

In [42]:
df3

,Index,Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,zeros,zeros+1
0,1,dE014d010c7ab0c,Andrew,NaN,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,7/26/2021,http://www.shea.biz/,0,1
1,2,2B54172c8b65eC3,Alvin,Lane,NaN,Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,6/24/2021,http://www.pena-cole.com/,0,1
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,NaN,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,4/5/2020,http://www.booth-reese.biz/,0,1
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,NaN,048.779.5035x9122,adeleon@hubbard.org,11/29/2020,http://www.hebert.com/,0,1
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,NaN,jesus90@roberson.info,4/22/2022,http://merritt.com/,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,1/9/2022,http://castro.net/,0,1
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,8/21/2021,https://www.braun.info/,0,1
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,4/22/2020,http://www.zavala-rubio.com/,0,1
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,3/12/2021,https://stone-randolph.info/,0,1
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,-5366,814-860-0941x057,owarner@velasquez.info,12/9/2021,http://www.cox.com/,0,1

## To Merge

In [43]:
df6 = pd.DataFrame({
    "First Name": ["Harry","WTF","Ashutosh","ahsg"],
    "Marks": [12,23,34,23]
})

In [44]:
df7 = pd.DataFrame({
    "First Name": ["Larry","F","asf","ag"],
    "Marks": [34,12,23,23]
})

In [45]:
df6

  First Name  Marks
0      Harry     12
1        WTF     23
2   Ashutosh     34
3       ahsg     23

In [46]:
df7

  First Name  Marks
0      Larry     34
1          F     12
2        asf     23
3         ag     23

In [47]:
pd.concat([df6, df7])

  First Name  Marks
0      Harry     12
1        WTF     23
2   Ashutosh     34
3       ahsg     23
0      Larry     34
1          F     12
2        asf     23
3         ag     23

In [48]:
df8 = pd.DataFrame({
    "First Name": ["As","asd"],
    "Marks": [34,12]
})

In [49]:
df8

  First Name  Marks
0         As     34
1        asd     12

In [50]:
df9 = pd.DataFrame({
    "First Name": ["As","asd"],
    "Roll": [4,2]
})

In [51]:
df9

  First Name  Roll
0         As     4
1        asd     2

In [52]:
pd.merge(df8,df9, on="First Name")

  First Name  Marks  Roll
0         As     34     4
1        asd     12     2